<h1>Transaciones de la cuenta del banco: <%= @account.bank %></h1>
<div class="content-with-navbar-spacing">
    <table class="table table-striped">
     <thead>
       <tr>
         <th scope="col">Categoria</th>
         <th scope="col">Monto</th>
         <th scope="col">Fecha</th>
         <th scope="col">Tipo-Transación</th>
         <th scope="col">Acciones</th>
       </tr>
     </thead>
     <tbody>
     <% @transactions.each do |t|  %>
       <tr>
         <td><%= t.category %></td>
         <td><%= t.amount %></td>
         <td><%= t.date %></td>
         <td><%= t.mytransaction_type %></td>
         <td><%= link_to "Editar", edit_account_my_transaction_path(account_id: t.account_id, id: t.id), class: "btn btn-secondary btn-sm" %> | <%= link_to(t) my_transaction_path(t), class: "btn btn-danger btn-sm", data: {turbo_method: :delete} %></td>
       </tr>
     <% end %>
    </tbody>
  </table>
</div>
