<div data-controller="check-balance">
  <h1 class="text-end text-success">Balance: <span id="balance" data-check-balance-target="balance">
  <%= @account.balance.total_amount %> </span></h1>
<%= simple_form_for [@account, @transaction] do |c| %>
    <%= c.input :mytransaction_type,
                as: :select,
                collection: ["ingreso","egreso"],
                include_blank:"Seleciona una opción",
                input_html:{
                  data: {
                    action: "change->check-balance#disableEgreso",
                    check_balance_target: "select"
                  }
                }
    %>
    <%= c.input :category%>
    <%= c.input :amount, input_html:{
                            data: {
                              check_balance_target: "amount",
                              action: "keyup->check-balance#saldo"
                            }
    }
    %>
    <%= c.input :method%>
    <%= c.input :description%>
    <%= c.input :date%>
    <%=c.submit data: {check_balance_target: "submit"} %>
<% end %>
</div>


<%# <script>
  const selector = document.querySelector("select")
  const balance = parseFloat(document.getElementById("balance").innerText)
  const amount = document.querySelector("#my_transaction_amount")
  selector.addEventListener("change", () => {
    if (balance === 0.0) {
      document.querySelector('input[name="commit"]').disabled = true
      alert("Tu saldo está en cero, no puedes hacer egresos")
    }
  })
  amount.addEventListener("keyup", () => {
    const submitButton = document.querySelector('input[name="commit"]');
    if (parseFloat(amount.value) > balance) {
      amount.style.color = "red"; // Cambiar color del monto
      submitButton.disabled = true; // Deshabilitar el botón
      alert("Tu saldo es menor a tus egresos, no puedes hacer egresos");
    } else {
      amount.style.color = ""; // Restaurar el color original
      submitButton.disabled = false; // Habilitar el botón si la condición es válida
    }
  });
</script> %>
