<h2><%= @balance.account_id %></h2>
<p><%= @balance.total_amount %></p>
<p><%= @balance.status %></p>
<%= link_to "Delete",
  account_balance_path(@account, @balance), class: "btn btn-danger btn-sm",
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<%= link_to "Edit",  edit_account_balance_path(@balance), class: "btn btn-warning btn-sm" %>
