<div class="container w-50 border rounded shadow-lg mt-5 p-4" data-controller="goal-balance" data-goal-balance-amount-value="<%= @account.balance.total_amount %>">
  <div class="card-header bg-gradient-primary text-black text-center py-3">
          <h2 class="h4 mb-0">
            <i class="fa-solid fa-bullseye me-2"></i><strong>Registrar transacción para:</strong>
          </h2>
  </div>

  <h3 class="text-center text-success mb-4"><strong><%=(Goal.find params[:goal]).title %></strong></h3>

  <%= simple_form_for [@account, @transaction], url: create_goal_transaction_path do |c| %>

    <div class="d-none">
      <%= c.input :mytransaction_type,
                  input_html: { value: "Egreso", hidden: true },
                  label: false %>
    </div>


    <div class="d-none">
      <%= c.input :category,
                  input_html: { value: "Otra", hidden: true },
                  label: false %>
    </div>

    <div class="mb-4">
      <%= c.input :amount,
                  label: "Monto:",
                  label_html: { class: "form-label fw-bold" },
                  input_html: {
                    data: {
                      goal_balance_target: "input",
                      action: "keyup->goal-balance#disableEgreso"
                    },
                    class: "form-control"
                  },required: false  %>
    </div>



    <div class="d-none">
      <%= c.input :goal,
                  input_html: { value: params[:goal], hidden: true },
                  label: false %>
    </div>

    <%= hidden_field_tag :account, params[:account] %>

    <div class="mb-4">
      <%= c.input :method,
                  label: "Método de pago:",
                  label_html: { class: "form-label fw-bold" },
                  as: :select,
                  collection: ["Efectivo", "Tarjeta de crédito", "Tarjeta de débito", "Transferencia Bancaria", "Billetera electrónica", "Otra"],
                  include_blank: "Selecciona un método de pago",
                  input_html: { class: "form-select" },required: false %>
    </div>


    <div class="mb-4">
      <%= c.input :description,
                  label: "Descripción:",
                  label_html: { class: "form-label fw-bold" },
                  input_html: { class: "form-control" } %>
    </div>


    <div class="mb-4">
      <%= c.input :date,
                  label: "Fecha:",
                  label_html: { class: "form-label fw-bold" },
                  as: :string,
                  input_html: {
                    data: { controller: "datepicker" },
                    class: "form-control"
                  },required: false %>
    </div>


    <div class="text-center">
      <%= c.submit "Crear transacción",
                  data: { goal_balance_target: "submit" },
                  class: "btn btn-primary fw-bold px-4 py-2" %>
    </div>
  <% end %>


</div>
