<div class="container w-25 border rounded shadow-lg mt-5 p-4 bg-light">
  <h2 class="text-center mb-4">
    <strong><%= account.persisted? ? "Edita tu cuenta! ✏️" : "Crea tu cuenta! 📜" %></strong> 🧑🏼‍💻
  </h2>

  <%= simple_form_for(account, html: { class: "needs-validation", novalidate: true }) do |f| %>
    <div class="mb-3">
     <%= f.input :bank,
            label: "Banco:",
            label_html: { class: "form-label fw-bold" },
            input_html: {
              class: "form-control",
              data: {
                controller: "capitalize",
                capitalize_target: "bank",
                action: "keyup->capitalize#capitalize"
              }
            },
            required: false %>
    </div>

    <div class="mb-3">
      <%= f.input :account_type,
                  label: "Tipo de cuenta:",
                  label_html: { class: "form-label fw-bold" },
                  as: :select,
                  collection: ["Credito", "Debito"],
                  include_blank: "Selecciona tipo de cuenta",
                  input_html: { class: "form-select" },
                  required: false %>
    </div>

    <div class="mb-3">
      <%= f.input :currency,
                  label: "Divisa:",
                  label_html: { class: "form-label fw-bold" },
                  as: :select,
                  collection: [
                    "USD - Dólar estadounidense", "EUR - Euro", "JPY - Yen japonés",
                    "MXN - Peso mexicano", "PEN - Sol peruano", "CLP - Peso chileno",
                    "ARS - Peso argentino", "BRL - Real brasileño", "BOB - Boliviano",
                    "GBP - Libra esterlina", "CHF - Franco suizo", "CAD - Dólar canadiense",
                    "AUD - Dólar australiano", "CNY - Renminbi o Yuan", "INR - Rupia india",
                    "RUB - Rublo ruso", "KRW - Won surcoreano", "SGD - Dólar de Singapur",
                    "MYR - Ringgit malasio", "SEK - Corona sueca", "NOK - Corona noruega",
                    "COP - Peso colombiano", "DKK - Corona danesa", "ESP - Peseta española",
                    "TRY - Lira turca", "AED - Dirham de los Emiratos Árabes Unidos",
                    "ZAR - Rand sudafricano", "THB - Baht tailandés", "HUF - Florín húngaro",
                    "ISK - Corona islandesa", "TWD - Nuevo dólar taiwanés", "PHP - Peso filipino",
                    "AWG - Florín arubeño", "NZD - Dólar neozelandés", "PKR - Rupia pakistaní",
                    "KZT - Tenge kazajo", "HKD - Dólar de Hong Kong", "DZD - Dinar argelino",
                    "EGP - Libra egipcia", "VND - Dong vietnamita"
                  ],
                  include_blank: "Selecciona una moneda",
                  input_html: { class: "form-select" },
                  required: false %>
    </div>

    <div class="mb-3">
      <%= f.submit account.persisted? ? "Actualizar cuenta" : "Crear cuenta", class: "btn btn-success w-100" %>
    </div>

    <div class="text-center mt-3">
           <%= link_to "Cancelar",
            account.persisted? ? account_path(account) : accounts_path,
            class: "text-muted small text-decoration-none",
            data: { bs_toggle: "tooltip" },
            title: account.persisted? ? "Volver al detalle de la cuenta" : "Volver a la lista de cuentas" %>
    </div>
  <% end %>
</div>
