<h2> <strong>Banco: </strong><%= @account.bank %></h2>
<p><strong>Tipo de Cuenta: </strong><%= @account.account_type %></p>
<p><strong>Código de Usuario: </strong><%= @account.user_id %></p>
<p><strong>Moneda: </strong><%= @account.currency %></p>
<p><strong>Saldo Disponible: </strong><%= @account.balance.total_amount %></p>
<%= link_to "Delete",
  account_path(@account), class: "btn btn-danger btn-sm",
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<%= link_to "Edit", edit_account_path(@account), class: "btn btn-warning btn-sm" %>
<%= link_to "Agregar Transacción", new_account_my_transaction_path(@account), class: "btn btn-warning btn-sm" %>
<%= link_to "Atras", accounts_path, class: "btn btn-warning btn-sm" %>
